// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin awesome {
  font-weight: bold;
  display: inline-block;
  font: normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
@mixin header {
  background-color: #996633;
    box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
    position: relative;
    z-index: 3;
    height: 100px;
    width: 100%;
}
body{
  height: 100%;
  background-color:#eeee;
  overflow: scroll;
  box-sizing: border-box;
  overflow-x: hidden;
}
.top-page-body{
  height: 100%;
  min-width: 100%;
  color: white;
  .header{
    @include header;
    .header-list{
      display: flex;
      line-height: 100px;
      margin:0 15%;
      height: 100px;
      max-width: 1440px;
      box-sizing: border-box;
      .item{
        margin: 0 15px;
        width: 100%;
        a{
          text-decoration: none;
          color: white;
        }
      }
      .logo-mark{
        font-size:48px;
        font-family: 'DIN Condensed',sans-serif;
      }
      form.search-form {
        position: relative;
        width: 600px;
        height: 45px;
        box-sizing: border-box;
        input.texts {
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          height: 40px;
          width: 100%;
          min-width: 50%;
          border: 1px solid #ccc;
          border-radius: 100px;
          padding: 0px 50px 0px 10px;
          transition: all 0.3s ease-out 0s;
        }
        .sub-button {
          font-size: 100%;
          background-color: transparent;
          cursor: pointer;
          height: 40px;
          width: 40px;
          position: absolute;
          right: 0px;
          top: 30px;
          border-style: none;
          border-radius: 0px 4px 4px 0px;
          padding: 0px;
          font-family: inherit;
          i.fas.fa-search {
            content: "\f002";
            @include awesome;
            color: gray;
          }
        }
      }
      .account{
       a{
         height: 33.25px;
        padding: 10%;
        border-radius: 8px;
        background: silver;
        box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
        text-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
       }
      }
    }
  }
  .top-page-middle{
    height: calc(100vh - 222px);
    .jobs-list{
      color: black;
      background: white;
      margin: 5% 15% 0;
      overflow: scroll;
      box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
      &__box{
        background: white;
        .list-contents{
          display: flex;
          padding: 15px;
          ul.left-list{
            li.left-icon{
            }
            li.user-name{
              font-size:20px;
              font-weight: bolder;
            }
          }
          ul.right-list-top{
            display: flex;
            font-size:20px;
            font-weight: bolder;
            li{
              margin: 0 20px 15px;
            }
            li.jobs-title{}
            li.jobs-price{}
          }
          ul.right-list-bottom{
            li.jobs-text{
              margin: 0 15px;
            }
          }
        }
      }
    }
  }
}
.footer{
  color: white;
  background-color: #996633;
  z-index: 3;
  height: 50px;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  &__content{
    line-height: 50px;
    text-align: center;
    font-size: 20px;
  } 
}