@mixin awesome {
  font-weight: bold;
  display: inline-block;
  font: normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
@mixin header {
  background-color: #996633;
    box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
    position: relative;
    z-index: 3;
    height: 100px;
    width: 100%;
}